@import "../../common/sass/sass";

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(103.6deg, #C08CEA 58.43%, rgba(150, 199, 255, 0) 105.78%);
  @media screen and (max-width: $medium){
    flex-direction: column;
    justify-content: space-around;
  }

  .inputBlock {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    @media screen and (max-width: $medium){
      height: auto;
      width: 100%;
    }

    p{
      font-size: 30px;
      width: 70%;
     font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  .imgBlock {
    width: 50%;
    @media screen and (max-width: $medium){

      width: 100%;
    }

    img {
    width: 100%;
    }
    .iphoneImg{
      width: calc(18vw );
      position: absolute;
      left: calc(55vw);

    }
  }
}