@mixin scrollbar(){
  &::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  &::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(255, 253, 253, 0.4);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.5), inset 1px 1px 0px rgba(0, 0, 0, 0.5);
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

$medium: 700px;
$mediumHigh:1100px;

$mainColor:white;
$secondColor: rgba(255, 255, 255, 0.5);
$mainBackgroundColor:rgba(0, 0, 0, 0.8);
$secondBackgroundColor: rgba(255, 255, 255, 0.15);