.block {
    width: 60%;
    height: 20%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: space-around;
    align-items: center;
}